<%= turbo_stream_from @game, :players%>
<div id="players">
  <%= render @game.players %>
</div>
<div data-controller="dice" class="py-5">
  <div class="text-center">
    <button type="button" data-action="click->dice#nextPlayer" class="btn btn-primary">Next Round</button>
  </div>
  <div class="d-flex justify-content-between">
    <div class="p-3 align-middle">
        Current Player is: <span id ="cur_player_name"></span><br>
        Current Position is: <span id ="cur_player_position"></span><br>
        Next Position is: <span id ="next_position"></span><br>
        The dice number is: <span class="p-3" id="dicenumber"></span><br>
    </div>
    <div class="justify-content-center">
        <%= render "dice" %>
    </div>
  </div>
</div>
