<div class="container">
  <div class="text-center p-3">
    <h1>Welcome to Monopoly Game</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <div>
        <ul>
          <% players = @game.players %>
          <% players.map do |player| %>
              <li>Player: <%= player.name %> | Money: $<%= player.money %></li>
            <% end %>
        </ul>
      </div>

      <div id="dice" data-controller="dice">
        <button data-action="click->dice#roll" type="button" class="btn m-2" id="roll">roll the dice</button>
        <div data-dice-target="diceface">
          <div class="dice first-face">
            <span class="dot">
            </span>
          </div>

          <div class="dice second-face">
            <span class="dot">
            </span>
            <span class="dot">
            </span>
          </div>

          <div class="dice third-face">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>

          <div class="fourth-face dice">
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>

          <div class="fifth-face dice">
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="column">
              <span class="dot"></span>
            </div>
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>

          <div class="sixth-face dice">
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="column">
              <span class="dot"></span>
              <span class="dot"></span>
                  <span class="dot"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <table id="board" style="display: table;" data-controller='table'>
        <tbody>
          <tr>
            <td class="cell board-top" id="cell"><div class="cell-anchor"><div class="cell-name"></div></div></td>
            <td class="cell board-top" id="cell1"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td class="cell board-top" id="cell2"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td class="cell board-corner" id="cell"><div class="cell-anchor"><div class="cell-name"></div></div></td>
          </tr>
          <tr>
            <td class="cell board-left" id="cell7"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td colspan="2" class="board-center"></td>
            <td class="cell board-right" id="cell3"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
          </tr>
          <tr>
            <td class="cell board-left" id="cell6"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td colspan="2" class="board-center"></td>
            <td class="cell board-right" id="cell4"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
          </tr>
          <tr>
            <td class="cell board-corner" id="cell"><div class="cell-anchor"><div class="cell-name"></div></div></td>
            <td class="cell board-bottom" id="cell6"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td class="cell board-bottom" id="cell5"><div class="cell-anchor"><div class="cell-owner"></div><div class="cell-name"></div></div></td>
            <td class="cell board-corner" id="cell"><div class="cell-anchor"><div class="cell-name"></div></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
