<h1>Welcome to Monopoly Game</h1>

<ul>
<% players = @game.players %>
<% players.map do |player| %>
    <li>Player name: <%= player.name %> | Money: $<%= player.money %></li>
  <% end %>
</ul>

<table id="board" style="display: table;">
	<tbody>
    <tr>
			<td class="cell board-corner" id="cell20" style="border: 1px solid black;"><div id="cell20anchor" class="cell-anchor"><div id="cell20positionholder" class="cell-position-holder"></div><div id="cell20name" class="cell-name">Free Parking</div></div></td>
			<td class="cell board-corner" id="cell20" style="border: 1px solid black;"><div id="cell20anchor" class="cell-anchor"><div id="cell20positionholder" class="cell-position-holder"></div><div id="cell20name" class="cell-name">Free Parking</div></div></td>
      <td class="cell board-top" id="cell21" style="border: 1px solid black;"><div id="cell21anchor" class="cell-anchor"><div id="cell21positionholder" class="cell-position-holder"></div><div id="cell21name" class="cell-name">Kentucky Avenue</div><div id="cell21owner" class="cell-owner" style="display: none;"></div></div></td>
			<td class="cell board-top" id="cell22" style="border: 1px solid black;"><div id="cell22anchor" class="cell-anchor"><div id="cell22positionholder" class="cell-position-holder"></div><div id="cell22name" class="cell-name">Chance</div></div></td>
		</tr>
    <tr>
			<td class="cell board-left" id="cell19" style="border: 1px solid black;"><div id="cell19anchor" class="cell-anchor"><div id="cell19positionholder" class="cell-position-holder"></div><div id="cell19name" class="cell-name">New York Avenue</div><div id="cell19owner" class="cell-owner" style="display: none;"></div></div></td>
			<td colspan="2" class="board-center"></td>
			<td class="cell board-right" id="cell31" style="border: 1px solid black;"><div id="cell31anchor" class="cell-anchor"><div id="cell31positionholder" class="cell-position-holder"></div><div id="cell31name" class="cell-name">Pacific Avenue</div><div id="cell31owner" class="cell-owner" style="display: none;"></div></div></td>
		</tr>
    <tr>
			<td class="cell board-left" id="cell18" style="border: 1px solid black;"><div id="cell18anchor" class="cell-anchor"><div id="cell18positionholder" class="cell-position-holder"></div><div id="cell18name" class="cell-name">Tennessee Avenue</div><div id="cell18owner" class="cell-owner" style="display: none;"></div></div></td>
			<td colspan="2" class="board-center"></td>
			<td class="cell board-right" id="cell32" style="border: 1px solid black;"><div id="cell32anchor" class="cell-anchor"><div id="cell32positionholder" class="cell-position-holder"></div><div id="cell32name" class="cell-name">North Carolina Avenue</div><div id="cell32owner" class="cell-owner" style="display: none;"></div></div></td>
		</tr>
    <tr>
			<td class="cell board-corner" id="cell20" style="border: 1px solid black;"><div id="cell20anchor" class="cell-anchor"><div id="cell20positionholder" class="cell-position-holder"></div><div id="cell20name" class="cell-name">Free Parking</div></div></td>
      <td class="cell board-corner" id="cell20" style="border: 1px solid black;"><div id="cell20anchor" class="cell-anchor"><div id="cell20positionholder" class="cell-position-holder"></div><div id="cell20name" class="cell-name">Free Parking</div></div></td>
			<td class="cell board-top" id="cell21" style="border: 1px solid black;"><div id="cell21anchor" class="cell-anchor"><div id="cell21positionholder" class="cell-position-holder"></div><div id="cell21name" class="cell-name">Kentucky Avenue</div><div id="cell21owner" class="cell-owner" style="display: none;"></div></div></td>
			<td class="cell board-top" id="cell22" style="border: 1px solid black;"><div id="cell22anchor" class="cell-anchor"><div id="cell22positionholder" class="cell-position-holder"></div><div id="cell22name" class="cell-name">Chance</div></div></td>
		</tr>
  </tbody>
</table>
