<div class="container">
  <div class="text-center p-3">
    <h2>Welcome to Monopoly Game</h2>
    <%= link_to "new game", new_game_path %>
  </div>
  <div class="d-flex justify-content-center">
    <div class='p-3'>
      <%= render 'result' %>
    </div>
    <div style="width:140px"></div>
    <div class="main" data-controller='table'>
      <div class="circle" id='cell0' data-index='0'>
        <div class="row row-cols-2">
          <div class="col d-flex align-items-start"><div class="player player1 active"></div></div>
          <div class="col d-flex align-items-start justify-content-end"><div class="player player2 active"></div></div>
          <div class="col d-flex align-items-end"><div class="player player3 active"></div></div>
          <div class="col d-flex align-items-end justify-content-end"><div class="player player4 active"></div></div>
        </div>
      </div>
      <div class="circle" id='cell1' data-index='1'></div>
      <div class="circle" id='cell2' data-index='2'></div>
      <div class="circle" id='cell3' data-index='3'></div>
      <div class="circle" id='cell4' data-index='4'></div>
      <div class="circle" id='cell5' data-index='5'></div>
      <div class="circle" id='cell6' data-index='6'></div>
      <div class="circle" id='cell7' data-index='7'></div>
      <div class="circle" id='cell8' data-index='8'></div>
    </div>
  </div>
</div>

<div class="d-none buildings_class">
  <% @buildings.each do |b| %>
  <li><%= b.name %></li>
  <% end %>
</div>
<%= content_tag :div, class: "players_class", data: {players: @players} do %>
<% end %>
